[Unit]
Description=Grayhaven Systems LLC Ansible repository change poller
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ansible
Group=ansible
WorkingDirectory=/home/ansible
ExecStart=/usr/local/sbin/grayhaven-ansible-poller
