{% set border = '#' * 80 -%}
{% set host_line = 'Host: ' ~ inventory_hostname -%}
{% set environment_line = 'Environment: ' ~ managed_baseline_environment -%}
{{ '' }}
{{ border }}
# {{ '%-76s' | format('Grayhaven Systems LLC') }} #
{{ border }}
# {{ '%-76s' | format(host_line) }} #
# {{ '%-76s' | format('') }} #
# {{ '%-76s' | format(environment_line) }} #
# {{ '%-76s' | format('Deployed by: OpenTofu') }} #
# {{ '%-76s' | format('Configured by: Ansible') }} #
{{ border }}
{{ '' }}
