{% for site in web_static_sites %}
server {
    listen 80;
    server_name {{ site.domain }};

    return 301 https://{{ site.domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ site.aliases | join(' ') }};

    return 301 https://{{ site.domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ site.dev_domain }};

    return 301 https://{{ site.dev_domain }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ site.aliases | join(' ') }};

    ssl_certificate /etc/letsencrypt/live/{{ site.cert_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site.cert_name }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;

    return 301 https://{{ site.domain }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ site.domain }};

    root {{ web_static_root }}/{{ site.source_domain }}/prod;
    index index.html;
    autoindex off;

    access_log /var/log/nginx/{{ site.source_domain }}.prod.access.log;
    error_log /var/log/nginx/{{ site.source_domain }}.prod.error.log;

    ssl_certificate /etc/letsencrypt/live/{{ site.cert_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site.cert_name }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;

    location /assets/ {
        alias {{ web_static_assets_root }}/;
        try_files $uri =404;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 443 ssl;
    server_name {{ site.dev_domain }};

    root {{ web_static_root }}/{{ site.source_domain }}/dev;
    index index.html;
    autoindex off;

    access_log /var/log/nginx/{{ site.source_domain }}.dev.access.log;
    error_log /var/log/nginx/{{ site.source_domain }}.dev.error.log;

    ssl_certificate /etc/letsencrypt/live/{{ site.cert_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site.cert_name }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;

    auth_basic "{{ site.auth_realm }}";
    auth_basic_user_file {{ web_static_dev_htpasswd_file }};

    location /assets/ {
        alias {{ web_static_assets_root }}/;
        try_files $uri =404;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

{% endfor %}
